@font-face {
  font-family: "ALS";
  src: url("./assets/fonts/alssectorregular-regular.woff2");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "ALS", sans-serif;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.active {
  color: #FFFFFF!important;
  background-color: #23408a;
  border-radius: 30px;
}

.swiper-slide-active img {
  max-width: 800px;
  box-shadow: -37px 0px 31px 20px rgba(113, 128, 225, 0.48);
}

.swiper-slide-active h2 {
  color: #23408a;
}

/* Общие настройки для скроллбара */
::-webkit-scrollbar {
  width: 15px; /* Ширина скроллбара */
}

/* Фон скроллбара (трек) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Цвет фона трека */
  border-radius: 5px; /* Скругление углов трека */
}

/* Ползунок скроллбара */
::-webkit-scrollbar-thumb {
  transition: .2s;
  background: rgba(113, 128, 225); /* Фиолетовый цвет ползунка */
  border-radius: 5px; /* Скругление углов ползунка */
  border: 2px solid #f1f1f1; /* Добавляем границу для контраста */
}

/* Эффект наведения на ползунок */
::-webkit-scrollbar-thumb:hover {
  background: rgb(75, 93, 216); 
}