.Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 100px;
}

.MainWrapper {
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: center;
    justify-content: center;
}

.MainWrapper__img {
    max-width: 1000px;
    border-radius: 30px;
}

.MainWrapper__p {
    max-width: 500px;
    font-size: 2.4rem;
    color: #23408a;
}

.Description {
    max-width: 85%;
    color: #23408a;
    font-size: 1.8rem;
}